.usersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.sectionTitle {
    background-color: transparent;
    margin: 0;
}

.countrySelector {
    padding: 5px;
    border: none;
    font-weight: bold;
}