table {
    margin: 20px auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

thead tr th {
    cursor: pointer;
    background-color: #404040;
    color: #fff;
}

.headerColumn::after {
    content: "▼";
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.deleteColumn {
    text-align: center;
}

.creation-dateColumn,
.countryColumn,
.roleColumn,
.emailColumn {
    display: none;
}

@media screen and (min-width: 700px) {
    .creation-dateColumn,
    .countryColumn {
        display: table-cell;
    }
}

@media screen and (min-width: 1000px) {
    .nameColumn,
    .creation-dateColumn,
    .countryColumn,
    .roleColumn,
    .emailColumn,
    .last-activeColumn {
        display: table-cell;
    }
}